/* CSS variables */
:root {
	--pale-blue: #C4AE78;
	/* Dark mode custom colors */
	--dark-fg: #363d45;
	--dark-bg: #f7f3f2;
}

html {
	font-family: "Trebuchet MS";
	max-width: 800px;
	margin: auto;
}

a {
 text-decoration: none;
}

a:link, a:visited {
    color: blue;
}

a:hover {
    color: red;
}

a.nav-home {
	font-size: 1.5rem;
	font-weight: bold;
	margin-right: auto;
}

a.nav-link {
	font-size: 1.25rem;
	display: flex;
	align-items: center;
}
